@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}


.simon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  margin: auto;

  user-select: none;

  &-control {
    box-sizing: border-box;
    width: calc(var(--index) * 11);
    height: calc(var(--index) * 11);
    border: 3px solid #F9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.42;
    transition: opacity 240ms ease-out;

    border-radius: var(--index);

    &.Y {
      background: #FBC62D;
      margin-top: var(--index);
      margin-right: var(--index);
    }

    &.R {
      background: #E43C2F;
      margin-left: var(--index);
      margin-bottom: var(--index);
    }

    &.G {
      background: #269846;
      margin-right: var(--index);
      margin-bottom: var(--index);
    }

    &.B {
      background: #2F7DEE;
      margin-top: var(--index);
      margin-left: var(--index);
    }

    &.active {
      opacity: 1;
    }
  }

  &-controls {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--index) * 24);
    height: calc(var(--index) * 24);

    position: relative;
  }

  &-start {
    position: absolute;
    align-items: center;
    justify-content: center;

    width: calc(var(--index) * 4);
    height: calc(var(--index) * 4);
    left: calc(50% - var(--index) * 2);
    top: calc(50% - var(--index) * 2);
    display: none;

    font-size: 2rem;
    animation: rotate 4.2s infinite linear;

    &.visible {
      display: flex;
    }
  }
}
